#base {
	background: #CCC;
	border: #999 1px solid;
	width: 1200px;
	height: 700px;
	padding:24px;
	margin: 0px auto;
}

.card {
	background: url(wppguns.jpg) no-repeat;
	border: #000 1px solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
	
}